<html>
    <head>
        <meta charset="UTF-8">
        <title> Editar Movie </title>
        <link rel="stylesheet" href="/static/style_edit.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
        <header>
            <div class ='options'>
                <div class = 'selection'>
                    <i class="fa fa-home" style="font-size:35px; color: #e68a2e;  "></i>
                    <a href="{{ url_for('homepage') }}" id="Homepage"> Homepage</a>
                </div>

                <div class = 'selection'>
                    <i class="fa fa-video-camera" style="font-size:35px; color: #e68a2e;  "></i>
                    <a href="{{ url_for('editMovie') }}" id="Epelicula"> Editar Pelicula </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-cog " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('editUser') }}" id="EUsuario"> Editar Usuario </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-search " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('search') }}" id="Bpelicula"> Buscar Pelicula </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-spinner " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('consulta') }}" id="Consulta"> Realizar Consulta </a>
                </div>

                <div class = 'selection' id="out">
                    <i class="fa fa-sign-out " style="font-size:35px; color: #e68a2e; cursor: pointer;"></i>
                </div>
    
            </div>
            <h2> Editar una pelicula </h2>
        </header>

        <div class = "fullscreen">
            <form action="/editMovie" method="POST">
            <h2> Editar Pelicula </h2>
            <div class="container" >
                <div class="content">
                    <input class="controls" type="text" name="adult" id="adult" placeholder="Ingrese si es para adultos">
                    <input class="controls" type="text" name="genres" id="nombres" placeholder="Ingrese genero">
                    <input class="controls" type="number" name="ids" id="ids" placeholder="Ingrese un numero">
                    <input class="controls" type="text" name="lenguage" id="lenguage" placeholder="Ingrese el idioma original">
                    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese compañia que la produjo">
                    <input class="controls" type="date" name="datetime" id="datetime" placeholder="Ingrese fecha">
                    <input class="controls" type="text" name="title" id="title" placeholder="Ingrese titulo">
                    <input class="controls" type="number" name="vote_average" id="vote_average" placeholder="Ingrese vote_average">
                </div>

                <div class="Conteiner_btn">
                    <input class="botons" type="submit" value="Crear Pelicula" name="submit">
                    <input class="botons" type="submit" value="Eliminar" name="submit">
                    <input class="botons" type="submit" value="Realizar actualizacion" name="submit" onclick="redirectToUpdate()">
                </div>
            </div>

            <h2> Editar Staff </h2>
            <div class="container" >
                <div class="content">
                    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese nombre">
                    <input class="controls" type="number" name="gender" id="gender" placeholder="Ingrese genero">
                    <input class="controls" type="number" name="ids" id="ids" placeholder="Ingrese un id">
                    <input class="controls" type="text" name="nationality" id="nationality" placeholder="Ingrese nacionalidad">
                    <input class="controls" type="text" name="rol" id="rol" placeholder="Ingrese rol">
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese correo">
                </div>

                <div class="Conteiner_btn">
                    <input class="botons" type="submit" value="Crear Staff" name="submit">
                    <input class="botons" type="submit" value="Eliminar" name="submit">
                    <input class="botons" type="submit" value="Realizar actualizacion" name="submit" onclick="redirectToUpdate()">
                </div>
            </div>

            <h2> Editar Actor </h2>
            <div class="container" >
                <div class="content">
                    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese Nombre">
                    <input class="controls" type="text" name="profile" id="profile" placeholder="Ingrese link a su perfil">
                    <input class="controls" type="number" name="age" id="age" placeholder="Ingrese edad">
                    <input class="controls" type="number" name="gender" id="gender" placeholder="Ingrese un genero">
                    <input class="controls" type="number" name="ids" id="ids" placeholder="Ingrese un id">

                </div>

                <div class="Conteiner_btn">
                    <input class="botons" type="submit" value="Crear Actor" name="submit">
                    <input class="botons" type="submit" value="Eliminar" name="submit">
                    <input class="botons" type="submit" value="Realizar actualizacion" name="submit" onclick="redirectToUpdate()">
                </div>
            </div>
            </form>

        <script>
            function redirectToUpdate() {
                window.location.href = "{{ url_for('update') }}";
            }

            var logoOut = document.getElementById("out");
            logoOut.onclick = function() {
                window.location.href = "{{ url_for('login') }}";
            };
        </script>

    </body>  
    </html>


    