<html>
    <head>
        <meta charset="UTF-8">
        <title> Editar Usuario </title>
        <link rel="stylesheet" href="/static/style_edit.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body> 
        <header>
            <div class ='options'>
                <div class = 'selection'>
                    <i class="fa fa-home" style="font-size:35px; color: #e68a2e;  "></i>
                    <a href="{{ url_for('homepage') }}" id="Homepage"> Homepage</a>
                </div>

                <div class = 'selection'>
                    <i class="fa fa-video-camera" style="font-size:35px; color: #e68a2e;  "></i>
                    <a href="{{ url_for('editMovie') }}" id="Epelicula"> Editar Pelicula </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-cog " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('editUser') }}" id="EUsuario"> Editar Usuario </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-search " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('search') }}" id="Bpelicula"> Buscar Pelicula </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-spinner " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('consulta') }}" id="Consulta"> Realizar Consulta </a>
                </div>
                
                <div class = 'selection' id="out">
                    <i class="fa fa-sign-out " style="font-size:35px; color: #e68a2e; cursor: pointer;"></i>
                </div>
                
            </div>
            <h2> Editar un usuario</h2>
        </header>

        <div class = "fullscreen">
            <h2> Editar User </h2>
            <div class="container" >
                <form action="/editUser" method="POST">
                <div class="content">
                    <input class="controls" type="text" name="name" id="name" placeholder="Ingrese nombre">
                    <input class="controls" type="text" name="country" id="country" placeholder="Ingrese pais">
                    <input class="controls" type="number" name="ids" id="ids" placeholder="Ingrese un numero">
                    <input class="controls" type="number" name="age" id="age" placeholder="Ingrese edad">
                    <input class="controls" type="gender" name="gender" id="gender" placeholder="Ingrese genero">
                </div>
                </form>
                
                <div class="Conteiner_btn">
                    <input class="botons" type="submit" value="Crear" name="submit">
                    <input class="botons" type="submit" value="Eliminar" name="submit">
                    <input class="botons" type="submit" value="Realizar actualizacion" name="submit">
                </div>

            </div>

    <script>
        function redirectToUpdate() {
            window.location.href = "{{ url_for('update') }}";
        }

        var logoOut = document.getElementById("out");
            logoOut.onclick = function() {
                window.location.href = "{{ url_for('login') }}";
            };
    </script>
    </body>  
</html>
