<html>
    <head>
        <meta charset="UTF-8">
        <title> Editar plataforma </title>
        <link rel="stylesheet" href="/static/style_Eplatform.css">
    </head>
    
    <body>
        <header>
            <h2> Editar una plataforma</h2>
        </header>

        <div class = "fullscreen">
            <!-- <form method="POST"> -->
                <div class="container" >
                    <form method="POST">
                    <div class="content">
                        <input class="controls" type="number" name="ids" id="ids" placeholder="Ingrese un numero">
                        <input class="controls" type="text" name="name" id="name" placeholder="Ingrese nombre">
                        <input class="controls" type="text" name="available_in" id="available_in" placeholder="Ingrese pais de disponibilidad">
                        <input class="controls" type="text" name="founder" id="founder" placeholder="Ingrese fundador">
                        <input class="controls" type="text" name="image_link" id="image_link" placeholder="Ingrese link de la imagen">
                        <input class="controls" type="number" name="profit" id="profit" placeholder="Ingrese ganancia">
                    </div>
                    </form>
                    <div class="Conteiner_btn">
                        <input class="botons" name='submit' type="submit" value="Crear">
                        <input class="botons" name='submit' type="submit" value="Eliminar">
                        <input class="botons" name='submit' type="submit" value="Cancelar" id="salir" onclick="redirectToplatform()">
                    </div>
                
                </div>
             <form method="POST">
                <h2> Actualizar plataforma </h2>
                <div class="container2" >
                    <div class="content2">
                        <text> Datos viejos </text>
                        <select class="controls" name="property" id="property">
                            <option value="none">-- Seleccionar una opcion -- </option>
                            <option value="available_in">available_in</option>
                            <option value="image_link">image_link</option>
                            <option value="id">id</option>
                            <option value="founder">founder</option>
                            <option value="name">name</option>
                            <option value="profit">profit</option>
                        </select>
                        <input class="controls" type="text" name="value" id="value" placeholder="Ingrese valor">
                    </div>

                    <div class="content2">
                        <text> Datos nuevos </text>
                        <select class="controls" name="property" id="property">
                            <option value="none">-- Seleccionar una opcion -- </option>
                            <option value="available_in">available_in</option>
                            <option value="image_link">image_link</option>
                            <option value="id">id</option>
                            <option value="founder">founder</option>
                            <option value="name">name</option>
                            <option value="profit">profit</option>
                        </select>
                        <input class="controls" type="text" name="value" id="value" placeholder="Ingrese valor">
                    </div>

                    <div class="Conteiner_btn2">
                        <input class="botons" name='submit' type="submit" value="Actualizar">
                    </div>
                </div>
            </form>
            <script>
                function redirectToplatform() {
                    window.location.href = "{{ url_for('platfomr') }}";
                }
            </script>

    </body>  
</html>




