<html>
    <head>
        <meta charset="UTF-8">
        <title> Homepage </title>
        <link rel="stylesheet" href="/static/style_homepage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
</html>

<body> 
    <header>
        <div class ='options'>
            <div class = 'selection'>
                <i class="fa fa-video-camera" style="font-size:25px; color: #e68a2e;  "></i>
                <a href="#"> Editar Pelicula </a>
            </div>

            <div class = 'selection'>
                <i class="fa fa-cog " style="font-size:25px; color: #e68a2e; "></i>
                <a href="#"> Editar Usuario </a>
            </div>

            <div class = 'selection'>
                <i class="fa fa-search " style="font-size:25px; color: #e68a2e; "></i>
                <a href="#"> Buscar Pelicula </a>
            </div>

            <div class = 'selection'>
                <i class="fa fa-spinner " style="font-size:25px; color: #e68a2e; "></i>
                <a href="#"> Realizar Consulta </a>
            </div>

        </div>
        <h2> Homepage </h2>
    </header>

        <div class = "fullscreen">
            <h2> Mi lista </h2>
            <div class="container" >
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

            </div>

            <h2> Mis favoritos </h2>
            <div class="container" >
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

            </div>

            <h2> Contenido </h2>
            <div class="container_Contenido" >
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            // Tu código JavaScript aquí
            const cards = document.querySelectorAll('.card');
            cards.forEach(card => {
            const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
            card.style.backgroundColor = randomColor;
            });
          </script>

</body>