<html>
    <head>
        <meta charset="UTF-8">
        <title> Homepage </title>
        <link rel="stylesheet" href="/static/style_homepage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
</html>

<body> 
    <header>
        <div class ='options'>
            <div class = 'selection'>
                <i class="fa fa-home" style="font-size:35px; color: #e68a2e;  "></i>
                <a href="{{ url_for('homepage') }}" id="Homepage"> Homepage</a>
            </div>

            <div class = 'selection'>
                <i class="fa fa-video-camera" style="font-size:35px; color: #e68a2e;  "></i>
                <a href="{{ url_for('editMovie') }}" id="Epelicula"> Editar Pelicula </a>
            </div>

            <div class = 'selection'>
                <i class="fa fa-cog " style="font-size:35px; color: #e68a2e; "></i>
                <a href="{{ url_for('editUser') }}" id="EUsuario"> Editar Usuario </a>
            </div>

            <div class = 'selection'>
                <i class="fa fa-search " style="font-size:35px; color: #e68a2e; "></i>
                <a href="{{ url_for('search') }}" id="Bpelicula"> Buscar Pelicula </a>
            </div>

            <div class = 'selection'>
                <i class="fa fa-spinner " style="font-size:35px; color: #e68a2e; "></i>
                <a href="{{ url_for('consulta') }}" id="Consulta"> Realizar Consulta </a>
            </div>

            <div class = 'selection' id="out">
                <i class="fa fa-sign-out " style="font-size:35px; color: #e68a2e; cursor: pointer;"></i>
            </div>
        </div>
        <h2> Homepage </h2>
    </header>

        <div class = "fullscreen">
            <h2> Volver a ver </h2>
            <div class="container" >
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

            </div>
            <h2> Mi lista </h2>
            <div class="container" >
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

            </div>

            <h2> Mis favoritos </h2>
            <div class="container" >
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt2">
                        <div class="remove">
                            <i class="fa fa-minus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

            </div>

            <h2> Recomendado </h2>
            <div class="container" >
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

                <div class="card" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                </div>

            </div>

            <h2> Contenido </h2>
            <div class="container_Contenido" >
                <div class="card2" id="List1",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card2" id="List2">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card2" id="List3">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card2" id="List4">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card2" id="List5">
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List6",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List7",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List8",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List9",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List10",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card2" id="List11",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List12",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List13",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card2" id="List14",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>

                <div class="card2" id="List15",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List16",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List17",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List18",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List19",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
                <div class="card2" id="List20",  >
                    <div class="content">
                        <div class="title">
                          <text>title</text>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="circle">
                            <i class="fa fa-plus" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                        
                        <div class="circle">
                            <i class="fa fa-heart" style="font-size:20px; color: rgb(86, 85, 85);  "></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            // Tu código JavaScript aquí
            const cards = document.querySelectorAll('.card');
            cards.forEach(card => {
            const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
            card.style.backgroundColor = randomColor;
            });

            const cards2 = document.querySelectorAll('.card2');
            cards2.forEach(card => {
            const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
            card.style.backgroundColor = randomColor;
            });

            var logoOut = document.getElementById("out");
            logoOut.onclick = function() {
                window.location.href = "{{ url_for('login') }}";
            };
          </script>

</body>