<html>
    <head>
        <meta charset="UTF-8">
        <title> Iniciar sesion </title>
        <link rel="stylesheet" href="/static/style_logIn.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    </head>



<body>
    <form action="/" method="POST">
        <section class="form">
            <h4> Formulario Login </h4>
            <label>
                <i class="fa fa-user" style="font-size:30px; "></i>
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            </label>
            <label>
                <i class="fa fa-lock" style="font-size:30px; "></i>
                <input class="controls" type="password" name="contra" id="contra" placeholder="Ingrese su Contraseña">
            </label>
            <input class="botons" type="submit" value="Ingresar">
            <p><a href="#"> Registrarse en la plataforma </a></p>
        </section>
    </form>
</body>  
</html>