<html>
    <head>
        <meta charset="UTF-8">
        <title> Platforms </title>
        <link rel="stylesheet" href="/static/style_platform.css">
    </head>
</html>

<body>
    <head>
        <h1> Escoge una plataforma </h1>
    </head>
    <div class = "fullscreen">
        <div class = 'container'>
            <div class="card" id="square">
                <div class="content">
                    <img src="{{platformsImg[0]}}">
                    <div class="title">
                    <text>{{platformsNames[0]}}</text>
                    </div>
                </div>
            </div>

            <div class="card" id="square">
                <div class="content">
                    <img src="{{platformsImg[1]}}">
                    <div class="title">
                    <text>{{platformsNames[1]}}</text>
                    </div>
                </div>
            </div>

            <div class="card" id="square">
                <div class="content">
                    <img src="{{platformsImg[2]}}">
                    <div class="title">
                    <text>{{platformsNames[2]}}</text>
                    </div>
                </div>
            </div>

            <div class="card" id="square" >
                <div class="content">
                    <img src="{{platformsImg[3]}}">
                    <div class="title">
                    <text>{{platformsNames[3]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" >
                <div class="content">
                    <img src="{{platformsImg[4]}}">
                    <div class="title">
                    <text>{{platformsNames[4]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" >
                <div class="content">
                    <img src="{{platformsImg[5]}}">
                    <div class="title">
                    <text>{{platformsNames[5]}}</text>
                    </div>
                </div>
            </div>
            <div class="card " id="square" >
                <div class="content">
                    <img src="{{platformsImg[6]}}">
                    <div class="title">
                    <text>{{platformsNames[6]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square"  >
                <div class="content">
                    <img src="{{platformsImg[7]}}">
                    <div class="title">
                    <text>{{platformsNames[7]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" >
                <div class="content">
                    <img src="{{platformsImg[8]}}">
                    <div class="title">
                    <text>{{platformsNames[8]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square"  >
                <div class="content">
                    <img src="{{platformsImg[9]}}">
                    <div class="title">
                    <text>{{platformsNames[9]}}</text>
                    </div>
                </div>
            </div>

            <div class="card_add" >
                <button class="icon-button"> 
                    <a href="{{ url_for('editPlatform') }}"> + </a>
                </button>
            </div>

        </div>
    </div>
    <script>
        // Obtén todos los elementos con la clase "square"
        var contenedores = document.getElementsByClassName("card");

        // Recorre todos los contenedores y agrega el evento onclick a cada uno
        for (var i = 0; i < contenedores.length; i++) {
        contenedores[i].onclick = function() {
            // Código a ejecutar cuando se hace clic en el contenedor
            window.location.href = "{{ url_for('login') }}";
        };
        }

    </script>
</body>