<html>
    <head>
        <meta charset="UTF-8">
        <title> Platforms </title>
        <link rel="stylesheet" href="/static/style_platform.css">
    </head>
</html>

<body>
    <head>
        <h1> Escoge una plataforma </h1> 
    </head> 
    <div class = "fullscreen">
        <div class = 'container'>
            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[0]}}')">
                <div class="content">
                    <img src="{{platformsImg[0]}}">
                    <div class="title">
                    <text>{{platformsNames[0]}}</text>
                    </div>
                </div>
            </div>

            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[1]}}')">
                <div class="content">
                    <img src="{{platformsImg[1]}}">
                    <div class="title">
                    <text>{{platformsNames[1]}}</text>
                    </div>
                </div>
            </div>

            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[2]}}')">
                <div class="content">
                    <img src="{{platformsImg[2]}}">
                    <div class="title">
                    <text>{{platformsNames[2]}}</text>
                    </div>
                </div>
            </div>

            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[3]}}')">
                <div class="content">
                    <img src="{{platformsImg[3]}}">
                    <div class="title">
                    <text>{{platformsNames[3]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[4]}}')">
                <div class="content">
                    <img src="{{platformsImg[4]}}">
                    <div class="title">
                    <text>{{platformsNames[4]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[5]}}')">
                <div class="content">
                    <img src="{{platformsImg[5]}}">
                    <div class="title">
                    <text>{{platformsNames[5]}}</text>
                    </div>
                </div>
            </div>
            <div class="card " id="square" onclick="sendPlatform('{{platformsNames[6]}}')">
                <div class="content">
                    <img src="{{platformsImg[6]}}">
                    <div class="title">
                    <text>{{platformsNames[6]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[7]}}')">
                <div class="content">
                    <img src="{{platformsImg[7]}}">
                    <div class="title">
                    <text>{{platformsNames[7]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[8]}}')">
                <div class="content">
                    <img src="{{platformsImg[8]}}">
                    <div class="title">
                    <text>{{platformsNames[8]}}</text>
                    </div>
                </div>
            </div>
            <div class="card" id="square" onclick="sendPlatform('{{platformsNames[9]}}')">
                <div class="content">
                    <img src="{{platformsImg[9]}}">
                    <div class="title">
                    <text>{{platformsNames[9]}}</text>
                    </div>
                </div>
            </div>

            <div class="card_add" >
                <button class="icon-button"> 
                    <a href="{{ url_for('editPlatform') }}"> + </a>
                </button>
            </div>

        </div>
    </div>
    <script>
        function sendPlatform(platformName) {
            // Crear un formulario oculto
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/platform_selected';

            // Crear un campo de entrada para el platformName
            var platformNameInput = document.createElement('input');
            platformNameInput.type = 'hidden';
            platformNameInput.name = 'platformName';
            platformNameInput.value = platformName;

            // Agregar el campo de entrada al formulario
            form.appendChild(platformNameInput);

            // Agregar el formulario al cuerpo del documento y enviarlo
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>