<html>
    <head>
        <meta charset="UTF-8">
        <title> Formulario Registro </title>
        <link rel="stylesheet" href="/static/style_register.css">
    </head>

    <body>
        <div class="container">
            <section class="square">
                <h4> Formulario de registro </h4>
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                <input class="controls" type="password" name="contra" id="contra" placeholder="Ingrese su Contraseña">
                <input class="controls" type="text" name="nacionalidad" id="nacionalidad" placeholder="Ingrese su Nacionalidad">
                <input class="controls" type="number" name="edad" id="correo" placeholder="Ingrese su Edad">
                <input class="botons" type="submit" value="Registrar" id="registrar" onclick="redirectToLogin()">
                <p><a href="{{ url_for('login') }}">¿Ya tengo una cuenta?</a></p>
            </section>

        </div>
        <script>
            function redirectToLogin() {
                alert('Usuario creado')
                window.location.href = "{{ url_for('login') }}";
            }
        </script>
    </body>  
</html>  
  