<html>
    <head>
        <meta charset="UTF-8">
        <title> Buscar Pelicula </title>
        <link rel="stylesheet" href="/static/style_search.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
        <header>
            <div class ='options'>
                <div class = 'selection'>
                    <i class="fa fa-home" style="font-size:35px; color: #e68a2e;  "></i>
                    <a href="{{ url_for('homepage') }}" id="Homepage"> Homepage</a>
                </div>

                <div class = 'selection'>
                    <i class="fa fa-video-camera" style="font-size:35px; color: #e68a2e;  "></i>
                    <a href="{{ url_for('editMovie') }}" id="Epelicula"> Editar Pelicula </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-cog " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('editUser') }}" id="EUsuario"> Editar Usuario </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-search " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('search') }}" id="Bpelicula"> Buscar Pelicula </a>
                </div>
    
                <div class = 'selection'>
                    <i class="fa fa-spinner " style="font-size:35px; color: #e68a2e; "></i>
                    <a href="{{ url_for('consulta') }}" id="Consulta"> Realizar Consulta </a>
                </div>

                <div class = 'selection' id="out">
                    <i class="fa fa-sign-out " style="font-size:35px; color: #e68a2e; cursor: pointer;"></i>
                </div>
    
            </div>
            <h2> Buscar Pelicula </h2>
        </header>

            <div class="container">
                <form class="search" action="/searchMovie" method="POST">
                    <input type="text", placeholder="Ingresar query", name="searchBar">
                    <button class="icon-button">
                        <i class="fa fa-search" style="font-size:20px; color:white"></i>
                    </button>
                </form>
            </div>
            
            <div class="container">
                <div class="card" id="List1",  >
                    <div class="content">
                        <div class="title">
                            <text>{{title}}</text>
                        </div>
                    </div>
                </div>
                <div class="cardText" id="List1",  >
                    <div class="content">
                        <div class="title">
                            <text>{{info}}</text>
                        </div>
                    </div>
                </div>
            </div>

        <script>
            const card = document.querySelector('.card');
            const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
            card.style.backgroundColor = randomColor;

            var logoOut = document.getElementById("out");
            logoOut.onclick = function() {
                window.location.href = "{{ url_for('login') }}";
            };
        </script>

    </body>  
    </html>
