body{
    width: auto;
    height: auto;
    background-color:black;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }

h1 {
    line-height: 2.8;
    text-align: center;
    color:white;
    left:800px;
    margin-bottom: 1%;
}

text{
    line-height: 1.8;
    color:white;
    font-size: 20px;
    font-weight: bold;
}

.fullscreen {
    width: auto;
    min-height: 850px;
    max-height: auto;
    background: #020001;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
  }
  
.container {
    padding: 30px;
    max-width: 1300px;
    margin: auto;
    min-height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: auto;
  }

.container .card {
    width: 250px;
    height: 200px;
    max-width: 100%;
    max-height: 100%; 
    margin-top: 45px;
    margin-left: 10px;
    border-radius: 7%;
    border: solid 1px;
    box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.19);

  }

.container .card  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7%;
 
  }

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 1px 12px 34px rgba(233, 230, 230, 0.31);
  }
  
.title{
    text-align: center;
}

.card_add{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card_add {
  width: 250px;
  height: 200px;
  max-width: 100%;
  max-height: 100%; 
  margin-top: 45px;
  margin-left: 10px;
  border-radius: 7%;
  box-shadow: 1px 22px 44px rgba(78, 76, 76, 0.473);
  background:darkgray;
  backdrop-filter: blur(4px) saturate(180%);
  opacity: 0.7;

}

.container .card_add:hover {
  transform: translateY(-15px);
  box-shadow: 1px 12px 34px rgba(233, 230, 230, 0.31);
}

.card_add button {
  border: 0;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background:white;
  cursor: pointer;
  opacity: 0.6;
}

.card_add a {
  cursor: pointer;
  color: darkgrey;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
}
