body{
  width: 100vw;
  height: 100vh;
  background-color:black;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

header h2{
  margin-top: 35px;
  text-align: center;
  height: 40px;
  margin-bottom: 30px; 
  font-size: 42px; 
  color: white;
  padding: 30px;
}


h2{
  color: white;
  font-size: 2vw;
  line-height: .8;
  top: 200px;
  color:white;
  margin-left:5%;
  display: block;
}

text{
  font-family: monospace;
  font-size: 20px;
  color: black;
}


.fullscreen {
  width: 100%;
  background: #020001;

}

.container {
  width: 100%;
  margin: auto;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid white;
  cursor: pointer;
}

.container .card {
  overflow: hidden;
  width: 18%;
  height: 80%;
  background: #C70039;
  transition: 0.6s;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 1px 12px 34px rgba(230, 225, 225, 0.31);
}

.container_Contenido{
  padding: 0px;
  width: 100%;
  margin: auto;
  height: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid white;
  
}

.container_Contenido .card2 {
  overflow: hidden;
  width: 18%;
  height: 280px;
  background: #C70039;
  transition: 0.6s;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.container_Contenido .card2:hover {
  transform: translateY(-15px);
  box-shadow: 1px 12px 34px rgba(230, 225, 225, 0.31);
}

.options{
  width: 101%;
  height: 50px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -8px;
  box-shadow: 1px 12px 34px rgba(230, 225, 225, 0.31);
  margin-top: 3px;
  margin-left: -5px;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}

.selection a:hover {
  transform: translateY(-4px);
  text-decoration: none;
  
}

.opt{
  width: 90%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.circle{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: white;
  cursor: pointer;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: white;
  cursor: pointer;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opt2{
  width: 75px;
  height: 55px;
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.card button{
  border: none;
  opacity: 0.6;
  background: white;
  cursor: pointer;
}